

  .section {
    background-color: rgb(176, 204, 245);
    height: 100%;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
  }



  .textboxlevel,.textboxscore{
    display: inline-block;
    width: 50px;
    background-color: white;
  }

  .level {

    padding-right: 61px;
    margin-left: 32px;
  }

  .score,.level,.textboxlevel,.textboxscore {
    font-size: 14px;
  }

  
  .canvas {
    display: block;
    margin: 0 auto;
    display: flex;
    border: 3px solid rgb(0, 0, 0);
  }

  .leftarrow {
    padding: 2px 14px;
  }

  .rightarrow {
    padding: 2px 15px;
  }

  .downarrow {
    padding: 2px 20px;
  }
  
.increment,.decrement,.canvas{
    background-color: white;
}
 
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
  *{
    padding: 0px;
    margin: 0px;
}
    .head{
      display: flex;
      justify-content: center;
      align-items: center;
    }
     /* #increment {
    background-color: white;
  }

  #decrement {
    background-color: white;
  } */

  /* div {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
  } */

  /* #tetris {
    background-color: white;
  } */
  /* #level {
    display: inline-block;
    font-size: 14px;
    width: 50px;
    background-color: white;
  }

  #score {
    display: inline-block;
    font-size: 14px;
    width: 50px;
    background-color: white;
  } */
  /* body {
    background-color: rgb(176, 204, 245);
  } */
    #control{
        display: flex;
        justify-content: center;
        align-items: center;
        }